body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
